/* General styles */

.wrapper {
  max-width: 1200px;
  margin: 0 auto;

  /* This prevents the elements after floats from wrapping. */
  overflow: auto;
}

body {
  /* Sometimes designers will instruct you to use dark and light grays instead of black and white. */
  /* This is because sometimes the stark contrast between white and black is hash on the eyes*/
  color: #282828;
  /* Google fonts! */
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  /* Google fonts! */
  font-family: 'Pacifico', cursive;
}

blockquote {
  font-style: italic;
  border-left: 4px solid #585858;
  padding: 20px;
  margin: 30px 0 0 30px;
  background-color: #F0F0F0;
  display: inline-block;
  font-weight: 800;
}

blockquote footer.quote-attribution {
  font-weight: normal;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  margin-bottom: 50px;
  text-align: center;
  background-image: url("../images/pogchamp.jpg");
  background-repeat: no-repeat;
  background-position: -500px -200px;
  height: 50vh;
  min-height: 500px;
  background-color: white;
}

header div.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.7);
}
header div.header-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1#logo {
  margin: 0;
  font-size: 6em;
}

p#subtitle {
  font-size: 2em;
  margin-top: 30px;
}


/* Main site navigation */
header nav ul {
  padding: 0;
  list-style: none;
}

header nav ul li {
  /* Changing the display property from block to inline-block will allow you to make */
  /* block elements behave as if they were inline. */
  display: inline-block;
  margin: 0 20px;
  /* Can you guess why I did this? */
  min-width: 200px;
}

header nav ul li a {
  font-size: 1.2em;
  background-color: black;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}

header nav ul li a:hover {
  text-decoration: none;
}



section {
  padding: 60px 30px;
  text-align: center;
}

section h2 {
  text-align: center;
  font-size: 3em;
  margin: 0 0 40px;
}

section#intro p {
  max-width: 900px;
  margin: 0 auto;
}

/* Floats are another common way to get block elements to render side by side. */


section.half ul {
  display: inline-block;
  list-style: none;
  padding: 0;
}

section.half ul li {
  text-align: left;
}


/* Let's get pseudo selector crazy. */

/* First item in the list (first-child) */
section#about ul li.factoid:first-child {
  margin-right: 20px;
}

/***
 Second item in the list (the only "even" child) 
 Note: if you add a 4th item to the list then this code
 will introduce an interesting bug!
***/
section#about ul li.factoid:nth-child(even) {
  margin: 0 10px;
}

/* Last item in the list (last-child) */
section#about ul li.factoid:last-child {
  margin-left: 20px;
}

footer {
  text-align: center;
}